<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet" type="text/css" href="/bootstarp/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/nmms.css" />
    <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/bootstarp/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/userSetting.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap-paginator.js" type="text/javascript" charset="utf-8"></script>
    <style>
        .file {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
            width: 100%;
            text-align: center;
        }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    </style>
    <script>
        $(function () {
            // 分页
            let options = {
                bootstrapMajorVersion: 3, // 指定bootstrap版本号,3之前不需要指定
                currentPage: "[[${pageProducts.pageNum == 0 ? 1 : pageProducts.pageNum}]]", // 当前页
                totalPages: "[[${pageProducts.pages == 0 ? 1 : pageProducts.pages}]]", // 总页数
                size:"normal",
                alignment: "center",
                pageUrl:function(type,page,current){
                    return "/product/findAll?pageNo="+page;
                }
            };
            $("#productPage").bootstrapPaginator(options);

            $("#addProduct").click(function(){
                let formData = new FormData($("#addForm")[0]);
                $.ajax({
                    type:"post",
                    url:"/product/addProduct",
                    data:formData,
                    dataType:"json",
                    processData: false,
                    contentType:false,
                    success:function(result){
                        if (result.responseCode == "2001") {
                            location.href = "/product/findAll?pageNo=[[${pageProducts.pageNum}]]";
                        } else {
                            $("#errorMsg").tooltip({
                                title: "error",
                                placement: "center",
                                template: "<div class='tooltip errorMsg'>" + result.message + "</div>",
                                tigger: "manual"
                            }).tooltip("show");

                        }
                    }
                });
            });

            // 修改设置默认值
            $("input[name='showModify']").click(function(){
                $.ajax({
                    type:"post",
                    url:"/product/findById",
                    data:{"id":$(this).attr("data-id")},
                    dataType:"json",
                    success:function(result){
                        if (result.responseCode == "2001") {
                            $("#pro-id").val(result.returnObject.productId);
                            // $("#pro-type-id").val(result.returnObject.productTypeId);
                            $("#pro-num").val(result.returnObject.productNo);
                            $("#pro-name").val(result.returnObject.name);
                            $("#pro-price").val(result.returnObject.price);
                        } else {
                            $("#errorMsg").tooltip({
                                title: "error",
                                placement: "center",
                                template: "<div class='tooltip errorMsg'>" + result.message + "</div>",
                                tigger: "manual"
                            }).tooltip("show");

                        }
                    }
                });
            });

            // 修改商品
            $("#modifyProduct").click(function(){
                let modifyForm = new FormData($("#modifyForm")[0]);
                $.ajax({
                    type:"post",
                    url:"/product/modifyProduct",
                    data:modifyForm,
                    dataType:"json",
                    processData: false,
                    contentType:false,
                    mimeType:"multipart/form-data",
                    success:function(result){
                        if (result.responseCode == "2001") {
                            location.href = "/product/findAll?pageNo=[[${pageProducts.pageNum}]]";
                        } else {
                            $("#errorMsg").tooltip({
                                title: "error",
                                placement: "center",
                                template: "<div class='tooltip errorMsg'>" + result.message + "</div>",
                                tigger: "manual"
                            }).tooltip("show");

                        }
                    }
                });
            });

            // 删除
            $("input[name='removeProduct']").click(function(){
                $.ajax({
                    type:"post",
                    url:"/product/remove",
                    data:{"id":$(this).attr("data-id")},
                    dataType:"json",
                    success:function(result){
                        if (result.responseCode == "2001") {
                            location.href = "/product/findAll?pageNo=[[${pageProducts.pageNum}]]";
                        } else {
                            $("#errorMsg").tooltip({
                                title: "error",
                                placement: "center",
                                template: "<div class='tooltip errorMsg'>" + result.message + "</div>",
                                tigger: "manual"
                            }).tooltip("show");

                        }
                    }
                });
            });

        });
    </script>
    <script>



    </script>
</head>

<body>
<div class="panel panel-default" id="userPic">
    <div class="panel-heading">
        <h3 class="panel-title">商品管理&nbsp;&nbsp;&nbsp;<span id="errorMsg"></span></span></h3>
    </div>
    <div class="panel-body">
        <input type="button" value="添加商品" class="btn btn-primary" id="doAddPro">
        <div class="modal fade" tabindex="-1" id="Product">
            <!-- 窗口声明 -->
            <div class="modal-dialog modal-lg">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <form id="addForm">
                        <!-- 头部、主体、脚注 -->
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">添加商品</h4>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row text-right">
                                <label for="product-name" class="col-sm-4 control-label">商品名称：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="product-name" name="name">
                                </div>
                            </div>
                            <br>
                            <div class="row text-right">
                                <label for="product-price" class="col-sm-4 control-label">商品价格：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="product-price" name="price">
                                </div>
                            </div>
                            <br>
                            <div class="row text-right">
                                <label for="product-image" class="col-sm-4 control-label">商品图片：</label>
                                <div class="col-sm-4">
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" name="file" id="file">
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row text-right">
                                <label for="product-type" class="col-sm-4 control-label">商品类型：</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="typeId">
                                        <option value="-1">请选择</option>
                                        <option th:each="type:${types}" th:value="${type.id}">[[${type.name}]]</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary addProduct" id="addProduct" value="添加">
                            <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="show-list">
            <table class="table table-bordered table-hover" style='text-align: center;'>
                <thead>
                <tr class="text-danger">
                    <th class="text-center">编号</th>
                    <th class="text-center">商品</th>
                    <th class="text-center">价格</th>
                    <th class="text-center">产品类型</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody id="tb">
                <tr th:each="product,i:${pageProducts.list}">
                    <td>[[${i.index+1}]]</td>
                    <td>[[${product.name}]]</td>
                    <td>[[${product.price}]]</td>
                    <td>[[${product.productType.name}]]</td>
                    <td>
                        <span th:if="${product.productType.status == 1}">有效商品</span>
                        <span th:if="${product.productType.status == 0}">无效商品</span>
                    </td>
                    <td class="text-center">
                        <input type="button" class="btn btn-warning btn-sm doProModify" name="showModify" th:data-id="${product.productId}" value="修改">
                        <input type="button" class="btn btn-danger btn-sm doProDisable" name="removeProduct" th:data-id="${product.productId}" value="删除">
                    </td>
                </tr>

                </tbody>
            </table>
            <ul id="productPage"></ul>
        </div>
        <div class="modal fade" tabindex="-1" id="myProduct">
            <!-- 窗口声明 -->
            <div class="modal-dialog modal-lg">
                <!-- 内容声明 -->
                <div class="modal-content">
                    <!-- 头部、主体、脚注 -->
                    <form id="modifyForm">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">商品修改</h4>
                        </div>
                        <div class="modal-body text-center">
                            <div class="row text-right">
                                <label for="pro-num" class="col-sm-4 control-label">序号：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="pro-num" readonly>
                                </div>
                            </div>
                            <input type="hidden" id="pro-id" name="productId">
                            <br>
                            <div class="row text-right">
                                <label for="pro-name" class="col-sm-4 control-label">商品名称</label>
                                <div class="col-sm-4">
                                    <input type="text" name="name" class="form-control" id="pro-name">
                                </div>
                            </div>
                            <br>
                            <div class="row text-right">
                                <label for="pro-price" class="col-sm-4 control-label">商品价格：</label>
                                <div class="col-sm-4">
                                    <input type="text" name="price" class="form-control" id="pro-price">
                                </div>
                            </div>
                            <br>
                            <div class="row text-right">
                                <label for="product-image" class="col-sm-4 control-label">商品图片：</label>
                                <div class="col-sm-4">
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" name="file">
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row text-right">
                                <label for="product-type" class="col-sm-4 control-label">商品类型：</label>
                                <div class="col-sm-4">
                                    <select id="pro-type-id" name="productTypeId" class="form-control">
                                        <option value="-1">请选择</option>
                                        <option th:each="type:${types}" th:value="${type.id}">[[${type.name}]]</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-primary updatePro" id="modifyProduct">修改</button>
                        <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>